<div fxFlex ngClass="container_cls">
    <div fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="5px"
         ngClass="subcontainer_cls">
        <div fxFlex="1 1 0" [ngStyle]="{'border' : '0px solid blue'}" fxLayout="row" fxLayoutAlign="center stretch">
            <div fxFlex="4 1 auto"></div>
            <div fxFlex="4 1 auto" fxLayout="row" fxLayoutAlign="center center">
                <mat-toolbar fxLayout="row" fxLayoutAlign="center center" [class.mat-elevation-z10]="true"
                             class="title_cls">
                    <span>Reverse Polish Notation Calculator</span>
                </mat-toolbar>
            </div>
            <div fxFlex="4 1 auto"></div>
        </div>
        <input type="text" #keyboardInput fxHide fxShow.xs="true"
               style="visibility: visible; height: 0px; margin: 0px; padding: 0px; position: absolute; right: 0; top: 0;">
        <div fxFlex="2 1 0" [ngStyle]="{'border' : '0px solid blue'}" fxLayout="row" fxLayoutAlign="center end">
            <div fxFlex="3 1 0" fxShow fxHide.xs="true"></div>
            <div (click)="onShowKeyboard($event)" fxFlex="3 1 0" fxLayout="row"
                 [class]="(keyPressed)? 'expr_container_active' : ''"
                 fxLayoutAlign="center stretch"
                 [class.mat-elevation-z18]="true">
                <mat-card fxFlex>
                    <mat-card-header>
                        <div mat-card-avatar style="background-size: cover;"
                             [class]="(keyPressed)? 'expr_container_icon_active' : ''">
                            <mat-icon>edit</mat-icon>
                        </div>
                    </mat-card-header>
                    <mat-card-content fxFlex="1 0 0" fxLayout="row" fxLayoutAlign="center stretch">
                        <span class="expr_cls">{{inputExpression}}</span>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="3 1 0" fxShow fxHide.xs="true"></div>
        </div>
        <div fxFlex="6 1 0" [ngStyle]="{'border' : '0px solid green'}" fxLayout="row" fxLayoutAlign="center stretch">
            <div fxFlex="3 1 0" fxFlex.xs="1 1 0" fxLayout="column" fxLayoutAlign="start center"
                 class="calc_history_log">
                <span fxShow fxHide.xs="true">Input Expressions: </span>
                <mat-list>
                    <mat-list-item role="listitem" *ngFor="let expr of inputExpressionsList">{{expr}}</mat-list-item>
                </mat-list>
            </div>
            <div fxFlex="3 1 0">
                <mat-grid-list cols="4" rowHeight="50px" fxFlex="1 0 0" [class.mat-elevation-z10]="true"
                               (mousedown)="onBtnClicked($event)" (mouseup)="onBtnReleased($event)">
                    <mat-grid-tile
                            *ngFor="let btn of buttons"
                            [colspan]="btn.colspan"
                            [style.background]="(btn.type && btn.type === 1)? 'lightblue' : (btn.type && btn.type === 2)? '#7eb3c3' : '#177c9a'"
                            fxFlex fxLayout="row">
                        <button mat-button (click)="onKeySelected(btn)" [value]="btn.val" fxFill=""
                                class="btns_cls">
                            <mat-icon *ngIf="btn.icn" class="operands_cls">{{btn.icn}}</mat-icon>
                            <span class="operands_cls">{{btn.val}}</span>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div fxFlex="3 1 0" fxFlex.xs="1 1 0" fxLayout="column" fxLayoutAlign="start center"
                 class="calc_history_log">
                <span fxShow fxHide.xs="true">Results: </span>
                <mat-list>
                    <mat-list-item role="listitem" *ngFor="let res of resultsList">{{res}}</mat-list-item>
                </mat-list>
                <div fxFlexFill="" *ngIf="isLoading">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>


